*    {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}

#content {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 50px 1fr;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.header {
    font-size: 4rem;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
}

/* .nav > div:nth-child(2) {
    border: solid;
    border-bottom: none;
}
.nav > div:nth-child(1), .nav > div:nth-child(3) {
    border-bottom: solid;
} */

.hello {
    /* color: red; */
   /* background: url('./background.jpg'); */
  }

.image img {
    opacity: .1;
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
    position: absolute;
}

/* .asdfasdf {
    opacity: .1;
    width: 100%;
    height: calc(100vh - 150px);
    object-fit: cover;
    position: absolute;
} */

.container {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
}

.welcome .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome .content img {
    height: 400px;
    z-index: 1;
    padding: 50px;
}

.welcome .content .text {
    font-size: 1.5rem;
    min-width: 700px;
    padding: 0 250px 0 50px;
}

.dish-container {
    height: calc(100vh - 150px);
    min-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}

.dish-card {
    border: solid;
    z-index: 1;
    height: 250px;
    width: 300px;
    /* flex: 1 0 300px; */
}

.dish-card > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 100px; */
    gap: 50px;
}

.contact .container > p {
    font-size: 2rem;
}

